In [8]:
import pandas as pd

# Load the CSV files
postings = pd.read_csv("./dataset/postings.csv")
industries = pd.read_csv("./dataset/mappings/industries.csv")
job_industry = pd.read_csv("./dataset/jobs/job_industries.csv")
skills = pd.read_csv("./dataset/mappings/skills.csv")
job_skills = pd.read_csv("./dataset/jobs/job_skills.csv")
salaries = pd.read_csv("./dataset/jobs/salaries.csv")
benefits = pd.read_csv("./dataset/jobs/benefits.csv")
companies = pd.read_csv("./dataset/companies/companies.csv")
company_industries = pd.read_csv("./dataset/companies/company_industries.csv")
company_specialities = pd.read_csv("./dataset/companies/company_specialities.csv")
employee_counts = pd.read_csv("./dataset/companies/employee_counts.csv")

Merge industries

In [9]:
# Replace spaces in industry names with underscores
# This is done to ensure that theses industries are considered as a single word once placed on Word To Vec
job_industry = job_industry.merge(industries, on="industry_id", how="left")
job_industry["industry_name"] = job_industry["industry_name"].str.replace(" ", "_", regex=False)

# Group industry names by job_id and join them with " and "
industry_grouped = (
    job_industry.groupby("job_id")["industry_name"]
    .apply(lambda x: " and ".join(x.dropna())) 
    .reset_index()
)

# Merge with postings to add the industry names
merged_postings = postings.merge(industry_grouped, on="job_id", how="left")

In [10]:
print(merged_postings.head())

     job_id            company_name  \
0    921716   Corcoran Sawyer Smith
1   1829192                     NaN
2  10998357  The National Exemplar
3  23221523  Abrams Fensterman, LLP
4  35982263                     NaN

                                               title  \
0                              Marketing Coordinator
1                  Mental Health Therapist/Counselor
2                        Assitant Restaurant Manager
3  Senior Elder Law / Trusts and Estates Associat...
4                                 Service Technician

                                         description  max_salary pay_period  \
0  Job descriptionA leading real estate firm in N...        20.0     HOURLY
1  At Aspen Therapy and Wellness , we are committ...        50.0     HOURLY
2  The National Exemplar is accepting application...     65000.0     YEARLY
3  Senior Associate Attorney - Elder Law / Trusts...    175000.0     YEARLY
4  Looking for HVAC service tech with experience ...     80000.0     YEARLY

            location  company_id  views  med_salary  ...   listed_time  \
0      Princeton, NJ   2774458.0   20.0         NaN  ...  1.713398e+12
1   Fort Collins, CO         NaN    1.0         NaN  ...  1.712858e+12
2     Cincinnati, OH  64896719.0    8.0         NaN  ...  1.713278e+12
3  New Hyde Park, NY    766262.0   16.0         NaN  ...  1.712896e+12
4     Burlington, IA         NaN    3.0         NaN  ...  1.713452e+12

  posting_domain  sponsored  work_type  currency compensation_type  \
0            NaN          0  FULL_TIME       USD       BASE_SALARY
1            NaN          0  FULL_TIME       USD       BASE_SALARY
2            NaN          0  FULL_TIME       USD       BASE_SALARY
3            NaN          0  FULL_TIME       USD       BASE_SALARY
4            NaN          0  FULL_TIME       USD       BASE_SALARY

  normalized_salary zip_code     fips        industry_name
0           38480.0   8540.0  34021.0          Real_Estate
1           83200.0  80521.0   8069.0                  NaN
2           55000.0  45202.0  39061.0          Restaurants
3          157500.0  11040.0  36059.0         Law_Practice
4           70000.0  52601.0  19057.0  Facilities_Services

[5 rows x 32 columns]

Merge Skills

In [11]:
# Merge job_skills with skills to get skill names
job_skills = job_skills.merge(skills, on="skill_abr", how="left")

# Replace spaces in skill names with underscores
job_skills["skill_name"] = job_skills["skill_name"].str.replace(" ", "_", regex=False)

# Group skills by job_id, remove NaNs, and join them with " and "
skill_grouped = (
    job_skills.groupby("job_id")["skill_name"]
    .apply(lambda x: " and ".join(x.dropna()))
    .reset_index()
)

# Merge skills into postings
merged_postings = merged_postings.merge(skill_grouped, on="job_id", how="left")

In [12]:
print(merged_postings.head())

     job_id            company_name  \
0    921716   Corcoran Sawyer Smith
1   1829192                     NaN
2  10998357  The National Exemplar
3  23221523  Abrams Fensterman, LLP
4  35982263                     NaN

                                               title  \
0                              Marketing Coordinator
1                  Mental Health Therapist/Counselor
2                        Assitant Restaurant Manager
3  Senior Elder Law / Trusts and Estates Associat...
4                                 Service Technician

                                         description  max_salary pay_period  \
0  Job descriptionA leading real estate firm in N...        20.0     HOURLY
1  At Aspen Therapy and Wellness , we are committ...        50.0     HOURLY
2  The National Exemplar is accepting application...     65000.0     YEARLY
3  Senior Associate Attorney - Elder Law / Trusts...    175000.0     YEARLY
4  Looking for HVAC service tech with experience ...     80000.0     YEARLY

            location  company_id  views  med_salary  ...  posting_domain  \
0      Princeton, NJ   2774458.0   20.0         NaN  ...             NaN
1   Fort Collins, CO         NaN    1.0         NaN  ...             NaN
2     Cincinnati, OH  64896719.0    8.0         NaN  ...             NaN
3  New Hyde Park, NY    766262.0   16.0         NaN  ...             NaN
4     Burlington, IA         NaN    3.0         NaN  ...             NaN

  sponsored  work_type  currency  compensation_type normalized_salary  \
0         0  FULL_TIME       USD        BASE_SALARY           38480.0
1         0  FULL_TIME       USD        BASE_SALARY           83200.0
2         0  FULL_TIME       USD        BASE_SALARY           55000.0
3         0  FULL_TIME       USD        BASE_SALARY          157500.0
4         0  FULL_TIME       USD        BASE_SALARY           70000.0

  zip_code     fips        industry_name                    skill_name
0   8540.0  34021.0          Real_Estate           Marketing and Sales
1  80521.0   8069.0                  NaN          Health_Care_Provider
2  45202.0  39061.0          Restaurants  Management and Manufacturing
3  11040.0  36059.0         Law_Practice                         Other
4  52601.0  19057.0  Facilities_Services        Information_Technology

[5 rows x 33 columns]

Merged Benefits

In [13]:
benefits["type"] = benefits["type"].str.replace(" ", "_", regex=False)

# Merge salaries into postings
merged_postings = merged_postings.merge(benefits, on="job_id", how="left")

In [14]:
print(merged_postings.head())

     job_id            company_name  \
0    921716   Corcoran Sawyer Smith
1   1829192                     NaN
2  10998357  The National Exemplar
3  23221523  Abrams Fensterman, LLP
4  35982263                     NaN

                                               title  \
0                              Marketing Coordinator
1                  Mental Health Therapist/Counselor
2                        Assitant Restaurant Manager
3  Senior Elder Law / Trusts and Estates Associat...
4                                 Service Technician

                                         description  max_salary pay_period  \
0  Job descriptionA leading real estate firm in N...        20.0     HOURLY
1  At Aspen Therapy and Wellness , we are committ...        50.0     HOURLY
2  The National Exemplar is accepting application...     65000.0     YEARLY
3  Senior Associate Attorney - Elder Law / Trusts...    175000.0     YEARLY
4  Looking for HVAC service tech with experience ...     80000.0     YEARLY

            location  company_id  views  med_salary  ...  work_type currency  \
0      Princeton, NJ   2774458.0   20.0         NaN  ...  FULL_TIME      USD
1   Fort Collins, CO         NaN    1.0         NaN  ...  FULL_TIME      USD
2     Cincinnati, OH  64896719.0    8.0         NaN  ...  FULL_TIME      USD
3  New Hyde Park, NY    766262.0   16.0         NaN  ...  FULL_TIME      USD
4     Burlington, IA         NaN    3.0         NaN  ...  FULL_TIME      USD

   compensation_type  normalized_salary  zip_code     fips  \
0        BASE_SALARY            38480.0    8540.0  34021.0
1        BASE_SALARY            83200.0   80521.0   8069.0
2        BASE_SALARY            55000.0   45202.0  39061.0
3        BASE_SALARY           157500.0   11040.0  36059.0
4        BASE_SALARY            70000.0   52601.0  19057.0

         industry_name                    skill_name  inferred    type
0          Real_Estate           Marketing and Sales       NaN     NaN
1                  NaN          Health_Care_Provider       NaN     NaN
2          Restaurants  Management and Manufacturing       NaN     NaN
3         Law_Practice                         Other       1.0  401(k)
4  Facilities_Services        Information_Technology       NaN     NaN

[5 rows x 35 columns]

Merged Company Industries

In [15]:
# Replace spaces in skill names with underscores
company_industries["industry"] = company_industries["industry"].str.replace(" ", "_", regex=False)

# Group skills by job_id, remove NaNs, and join them with " and "
company_industries_grouped = (
    company_industries.groupby("company_id")["industry"]
    .apply(lambda x: " and ".join(x.dropna()))
    .reset_index()
)

# Merge skills into postings
merged_postings = merged_postings.merge(company_industries_grouped, on="company_id", how="left")

In [16]:
print(merged_postings.head())

     job_id            company_name  \
0    921716   Corcoran Sawyer Smith
1   1829192                     NaN
2  10998357  The National Exemplar
3  23221523  Abrams Fensterman, LLP
4  35982263                     NaN

                                               title  \
0                              Marketing Coordinator
1                  Mental Health Therapist/Counselor
2                        Assitant Restaurant Manager
3  Senior Elder Law / Trusts and Estates Associat...
4                                 Service Technician

                                         description  max_salary pay_period  \
0  Job descriptionA leading real estate firm in N...        20.0     HOURLY
1  At Aspen Therapy and Wellness , we are committ...        50.0     HOURLY
2  The National Exemplar is accepting application...     65000.0     YEARLY
3  Senior Associate Attorney - Elder Law / Trusts...    175000.0     YEARLY
4  Looking for HVAC service tech with experience ...     80000.0     YEARLY

            location  company_id  views  med_salary  ...  currency  \
0      Princeton, NJ   2774458.0   20.0         NaN  ...       USD
1   Fort Collins, CO         NaN    1.0         NaN  ...       USD
2     Cincinnati, OH  64896719.0    8.0         NaN  ...       USD
3  New Hyde Park, NY    766262.0   16.0         NaN  ...       USD
4     Burlington, IA         NaN    3.0         NaN  ...       USD

  compensation_type  normalized_salary  zip_code     fips  \
0       BASE_SALARY            38480.0    8540.0  34021.0
1       BASE_SALARY            83200.0   80521.0   8069.0
2       BASE_SALARY            55000.0   45202.0  39061.0
3       BASE_SALARY           157500.0   11040.0  36059.0
4       BASE_SALARY            70000.0   52601.0  19057.0

         industry_name                    skill_name inferred    type  \
0          Real_Estate           Marketing and Sales      NaN     NaN
1                  NaN          Health_Care_Provider      NaN     NaN
2          Restaurants  Management and Manufacturing      NaN     NaN
3         Law_Practice                         Other      1.0  401(k)
4  Facilities_Services        Information_Technology      NaN     NaN

       industry
0   Real_Estate
1           NaN
2   Restaurants
3  Law_Practice
4           NaN

[5 rows x 36 columns]

Merged Company Specialties

In [17]:
# Replace spaces in skill names with underscores
company_specialities["speciality"] = company_specialities["speciality"].str.replace(" ", "_", regex=False)

# Group skills by job_id, remove NaNs, and join them with " and "
company_specialities_grouped = (
    company_specialities.groupby("company_id")["speciality"]
    .apply(lambda x: " and ".join(x.dropna()))
    .reset_index()
)
    
# Merge skills into postings
merged_postings = merged_postings.merge(company_specialities_grouped, on="company_id", how="left")

In [18]:
print(merged_postings.head())

     job_id            company_name  \
0    921716   Corcoran Sawyer Smith
1   1829192                     NaN
2  10998357  The National Exemplar
3  23221523  Abrams Fensterman, LLP
4  35982263                     NaN

                                               title  \
0                              Marketing Coordinator
1                  Mental Health Therapist/Counselor
2                        Assitant Restaurant Manager
3  Senior Elder Law / Trusts and Estates Associat...
4                                 Service Technician

                                         description  max_salary pay_period  \
0  Job descriptionA leading real estate firm in N...        20.0     HOURLY
1  At Aspen Therapy and Wellness , we are committ...        50.0     HOURLY
2  The National Exemplar is accepting application...     65000.0     YEARLY
3  Senior Associate Attorney - Elder Law / Trusts...    175000.0     YEARLY
4  Looking for HVAC service tech with experience ...     80000.0     YEARLY

            location  company_id  views  med_salary  ...  compensation_type  \
0      Princeton, NJ   2774458.0   20.0         NaN  ...        BASE_SALARY
1   Fort Collins, CO         NaN    1.0         NaN  ...        BASE_SALARY
2     Cincinnati, OH  64896719.0    8.0         NaN  ...        BASE_SALARY
3  New Hyde Park, NY    766262.0   16.0         NaN  ...        BASE_SALARY
4     Burlington, IA         NaN    3.0         NaN  ...        BASE_SALARY

  normalized_salary  zip_code     fips        industry_name  \
0           38480.0    8540.0  34021.0          Real_Estate
1           83200.0   80521.0   8069.0                  NaN
2           55000.0   45202.0  39061.0          Restaurants
3          157500.0   11040.0  36059.0         Law_Practice
4           70000.0   52601.0  19057.0  Facilities_Services

                     skill_name inferred    type      industry  \
0           Marketing and Sales      NaN     NaN   Real_Estate
1          Health_Care_Provider      NaN     NaN           NaN
2  Management and Manufacturing      NaN     NaN   Restaurants
3                         Other      1.0  401(k)  Law_Practice
4        Information_Technology      NaN     NaN           NaN

                                          speciality
0                    real_estate and new_development
1                                                NaN
2                                                NaN
3  Civil_Litigation and Corporate_&_Securities_La...
4                                                NaN

[5 rows x 37 columns]

In [19]:
# Save the new CSV file
merged_postings.to_csv("merged_postings.csv", index=False)
print("Merged CSV file has been saved as src/merged_postings.csv")

Merged CSV file has been saved as src/merged_postings.csv

In [23]:
merged_postings['skill_name'][1]

'Health_Care_Provider'

Tech Only

In [26]:
# List of words to consider
to_consider = ["Design", "Project Management", "Analyst", "Engineering", "Information Technology", "Production", "Management"]

# Normalize the to_consider list by replacing spaces with underscores and converting to lowercase
normalized_to_consider = [phrase.replace(' ', '_').lower() for phrase in to_consider]

# Function to check if any word from to_consider is in the skill_name
def contains_to_consider(skill):
    if isinstance(skill, str):
        # Split the skill by ' and ' and convert each part to lowercase
        skills = [s.lower() for s in skill.split(' and ')]
        # Check if any normalized skill is in the normalized_to_consider list
        return any(s in normalized_to_consider for s in skills)
    else:
        # Return False if skill is not a string (e.g., NaN)
        return False

# Apply the function to filter rows
tech_only_postings = merged_postings[merged_postings['skill_name'].apply(contains_to_consider)]

In [27]:
# Save the new CSV file
tech_only_postings.to_csv("merged_postings_tech.csv", index=False)
print("Merged CSV file has been saved as src/merged_postings_tech.csv")

Merged CSV file has been saved as src/merged_postings_tech.csv